body {
	margin: 0;
	padding: 0;
	background: url(../img/background/pageBackground.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.loader {
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: white;
	animation-name: fade;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

.loader__gif {
	position: fixed;
	top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
	width: 300px;
	height: 250px;
	margin:auto;
	background: url(../img/loader/loader.gif);
	background-size: 100% 100%;
}

@keyframes fade {
	0% {opacity: 1;z-index: 1000;}
	50% {opacity: 1;z-index: 1000;}
	100% {opacity: 0; z-index: -1;}
}

.webHeader {
	position: fixed;
	top:0px;
	width: 100%;
	height: 100px;
	background-color: rgba(165, 192, 204, 0.9);
	z-index: 10;
}

.webHeader__title {
	width: auto;
	height: auto;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	margin:35px 0 0 0;
	position: absolute;
	left:5%;
	color:white;
}

.flexBox {
	z-index: 9;
 	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(68, 171, 166, 0.56);
}

.flexBox > div {
	width: 500px;
	height: 500px;
	display: flex;
	align-items: center;
	background-color: rgba(74, 183, 123, 0.56);
}

.flexBox > div > div {
	width: 100%;
	padding: 10%;
	margin: auto;
}

.photo {
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.iconHolder {
	width: 100%;
	height: auto;
}

.iconFrame {
	display: inline-block;
	width: 30px;
	height: 30px;
}
